#main{
    width:  300px;
    height: 300px;
    padding: 16px 16px 32px 16px;
    background-color: rgb(180, 180, 180);
}

#key{
    margin-top: 32px;
}

#display{
    width: auto;
    height: 64px;
    margin: 0px 0px 0px 0px;
    background-color: black;

    text-align: right;
    color: white;
    font-size: 48px;
    text-shadow: 0 0 5px #fff, 0 0 10px #00e600, 0 0 20px #00e600;
}

.buttons{
    width: 48px;
    height: 48px;
    border: 2px 2px 2px 2px;
    padding: 1px 6px 1px 6px;
    margin: 1px 0px 1px 0px;
    background-color: gray;
}
.buttons:hover{
    background-color: rgb(184, 184, 184);
}
.buttons:active{
    background-color: rgb(43, 43, 43);
}

#clear{
    background-color: rgb(218, 76, 76);
}
#clear:hover{
    background-color: rgb(218, 120, 120);
}
#clear:active{
    background-color: rgb(141, 41, 41);
}